body{
    background:url(https://img.freepik.com/premium-photo/black-honeycomb-background-with-shiny-golden-gradient_761391-137.jpg);
}
h2{
    color: gold;
    text-align: center;
}
form{
    color: gold;
}